@use "sass:map";
@use "@angular/material" as mat;

html .blue_theme {
  --mat-sys-primary: rgb(54, 124, 254);
  --mat-sys-primary-fixed-dim: rgb(54, 124, 254, 0.15);
  --mat-sys-secondary: rgb(22, 205, 199);
  --mat-sys-secondary-fixed-dim: rgb(22, 205, 199, 0.15);

  --mat-sys-on-primary: rgb(54, 124, 254);
}
