.main_wrapper {
  display: flex;
  flex-direction: row;
  font-family: "Montserrat";
  padding: 30px;
  height: calc(100vh - 60px);
  .left_wrapper {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
    flex: 1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      padding: 50px;
    }
    .content_wrapper {
      position: absolute;
      bottom: 25%;
      .header {
        font-size: 30px;
        justify-content: flex-start;
        font-weight: bold;
        margin: 10px 0px;
        margin-bottom: 50px;
      }
      .sub_header {
        font-size: 20px;
        line-height: 30px;
        margin: 5px 0px;
        font-weight: 600;
        margin-top: 10px;
      }
    }
  }
  .right_wrapper {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    flex: 1;
    background-color: #f8fafd;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px 1px #d3d3d3;
    mat-card {
      padding: 10px;
      mat-card-header {
        font-size: 30px;
        text-align: center;
        justify-content: center;
        font-weight: 600;
        padding-bottom: 20px;
        flex-direction: column;
        color: var(--mat-sys-primary);
        .sub_header {
          font-size: 16px;
          font-weight: 400;
          margin-top: 5px;
        }
      }
      mat-card-content {
        .login-button {
          margin-top: 10px;
          .full-width {
            width: 100%;
          }
        }
        mat-form-field {
          width: 100%;
        }
      }
    }
  }
}
